
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgreen;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color:limegreen;
}

body{background-color:whitesmoke;
  background-image: url("images/Rbow.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
}
h1{color: darkseagreen;font-size: 40px;} 
p{color: forestgreen; font-size: 20px; 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
h2{color:forestgreen; font-size: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

div{color:forestgreen; font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  }

img{
  display: flex;
  justify-items: center;
  align-items: center;
}